@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.navbar {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 50px;
  flex-direction: row;
  display: flex;
}

.navbar li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #858585;
  font-size: 24px;
  padding: 0 20px;
}

.active {
    color: #545454 !important;
}