@font-face {
  font-family: "HelveticaNowDisplayBold";
  src: url("/public/assets/fonts/HelveticaNowDisplayBold.woff2") format("woff2"),
    url("/public/assets/fonts/HelveticaNowDisplayBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/public/assets/fonts/HelveticaNowDisplayMedium.woff2")
      format("woff2"),
    url("/public/assets/fonts/HelveticaNowDisplayMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.row {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.column { 
  float: left;
  margin-bottom: 50px;
}

.painting {
	border: 1px solid #000000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	width: 350px;
	height: 350px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
