@font-face {
  font-family: "HelveticaNowDisplayBold";
  src: url("/public/assets/fonts/HelveticaNowDisplayBold.woff2") format("woff2"),
    url("/public/assets/fonts/HelveticaNowDisplayBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("/public/assets/fonts/HelveticaNowDisplayMedium.woff2")
      format("woff2"),
    url("/public/assets/fonts/HelveticaNowDisplayMedium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

.row1 {
  justify-content: space-between;
  padding: 0 150px;
  flex-wrap: wrap;
  display: flex;
}

.column1 {
  margin-bottom: 50px;
  float: left;
}

.modal-image {
  width: 100%;
  height: 80vh;
}

.column1 img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.4s;
  border: 1px solid #000000;
  width: 350px;
  height: 350px;
  cursor: pointer;
}

.modal-footer {
  justify-content: flex-start !important;
}

/*
.column1 img:hover {
  transform: scale(1.2);
}
*/
@media (max-width: 768px) {
  /*.column1 img:hover {
    transform: unset;
  }*/

  .modal-image {
    height: auto;
  }
}
